/* .btn-light {
    color: #fff;
    background-color: #e0454c;
    border-color: #e0454c;
}

.btn-light:hover {
    color: #fff;
    background-color: #e0454c;
    border-color: #e0454c;
} */

@media (max-width: 575.98px) { 
    tr th:nth-child(3),tr td:nth-child(3){

        display:none;
      }
}